@charset "UTF-8";

/*TODAS AS TELAS*/

@media screen and (min-width:768px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        background-color: hsl(233, 47%, 7%);
    }
    
    .card {
        display: block;
        margin: auto;
        width: 1100px;
        height: 446px;
        background-color: hsl(244, 38%, 16%);
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        text-align: left;
        border-radius: 10px;
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    img {
        float: right;
        
    }

    img#desktop {
        display: inline;
        width: 540px;
        height: 446px;
        border-radius: 0px 10px 10px 0px;
        margin-left: 140px;

        position: relative;
    }

    img#mobile {
        display: none;
    }

    
    .top > h1 {
        margin: 75px 40px 0px 60px;
    }

    .top > p {
        line-height: 25px;
        margin: 20px 0px 0px 60px;
        padding-top: 10px;
        padding-bottom: 60px;
    } 

    .bottom {
        display: flex;
        text-indent: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    span {
        text-transform: uppercase;
    }

    .section {
        display: grid;
        grid-template-columns: 3; 
        line-height: 25px;
        text-align: left;   
        margin: 8px;
    }


}
